@w1: 30px;

.math-stage-instance {
    border: 1px #cccccc solid;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    background-color: #fff;

    .fix {
        position: absolute;
        top: 0;
        left: 0;
    }

    canvas {
        .fix;
    }

    .hide {
        display: none !important;
    }
    .latex-shower {
        position: absolute;
        display: inline-block; 
    }
    .stepper {
        position: absolute;
        display: inline-block;

        input[type=range] {
            -webkit-appearance: none;
            width: 120px;
            border-radius: 10px;
            outline: none;
        }
        input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 20px;
            width: 20px;
            margin-top: -8px; /*使滑块超出轨道部分的偏移量相等*/
            background: #ffffff; 
            border-radius: 50%; /*外观设置为圆形*/
            border: solid 1px rgba(205, 224, 230, 0.5); /*设置边框*/
            box-shadow: 0 1px 1px #3b4547; /*添加底部阴影*/
        }
        input[type=range]::-webkit-slider-runnable-track {
            height: 4px;
            border-radius: 2px;
            background-color: #cccccc; 
        }

        p {
            transform: translateY(6px);
            text-align: center;
            font-size: 12px;
        }
    }

    .controls {
        position: absolute;
        bottom: 10px;
        right: 10px;
        cursor: cross;

        .btn {
            width: @w1;
            height: @w1;
            border: none;
            outline: none;
            font-size: 0; 
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-color: transparent;
            display: block;
            cursor: pointer;
        }

        .zoom-in {
            .btn;   
            background-image: url('./svg/zoom-in.svg');   
        }

        .zoom-out {
            .btn;   
            background-image: url('./svg/zoom-out.svg');   
        }

        .fullscreen {
            .btn;   
            background-image: url('./svg/fullscreen.svg');   
        }

        .unfullscreen {
            .btn;   
            background-image: url('./svg/unfullscreen.svg');   
        }
    }
}