@w1: 30px;
@root: 10px;

.math-stage-instance {
    border: 1px #cccccc solid;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    background-color: #fff;
    font-size: @root;

    .fix {
        position: absolute;
        top: 0;
        left: 0;
    }

    canvas {
        .fix;
    }

    .hide {
        display: none !important;
    }
    .latex-shower {
        position: absolute;
        display: inline-block;
        font-size: 16px;
    }
    .stepper {
        position: absolute;
        display: inline-block;

        input[type=range] {
            -webkit-appearance: none;
            width: 12em;
            border-radius: 1em;
            outline: none;
        }
        input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 2em;
            width: 2em;
            margin-top: -0.8em; /*使滑块超出轨道部分的偏移量相等*/
            background: #ffffff; 
            border-radius: 50%; /*外观设置为圆形*/
            border: solid 0.1em rgba(205, 224, 230, 0.5); /*设置边框*/
            box-shadow: 0 0.1em 0.1em #3b4547; /*添加底部阴影*/
        }
        input[type=range]::-webkit-slider-runnable-track {
            height: 0.4em;
            border-radius: 0.2em;
            background-color: #cccccc; 
        }

        p {
            transform: translateY(0.6em);
            text-align: center;
            font-size: 1.4em;
            margin: 0 0 0.5em 0;
        }
    }

    .controls {
        position: absolute;
        bottom: 1em;
        right: 1em;
        cursor: cross;

        .btn {
            width: @w1;
            height: @w1;
            border: none;
            outline: none;
            font-size: 0; 
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-color: transparent;
            display: block;
            cursor: pointer;
        }

        .zoom-in {
            .btn;   
            background-image: url('./svg/zoom-in.svg');   
        }

        .zoom-out {
            .btn;   
            background-image: url('./svg/zoom-out.svg');   
        }

        .fullscreen {
            .btn;   
            background-image: url('./svg/fullscreen.svg');   
        }

        .unfullscreen {
            .btn;   
            background-image: url('./svg/unfullscreen.svg');   
        }
    }
}